<script>
    document.getElementById('cover_image').addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('uploadPreviewImage').src = e.target.result;
                document.getElementById('uploadPreviewSection').style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            document.getElementById('uploadPreviewSection').style.display = 'none';
        }
    });
</script>
